/* .App {
  text-align: center;
} */

.header {
  /* Coloring */
  background-color: #d6d5c9;
  border-style: solid;
  border-color: #2c3e1f;
/* Page placement */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header nav {
  margin: 7px,
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}


